{% extends 'base.html' %}

{% block title %}Loan Approval Predictor{% endblock %}
{%  block nav_title %}Loan Approval Predictor{% endblock %}

{% block content %}
<section class="container my-4">
   <div class="card-shadow">
       <div class="card-body">
           <h2 class="card-title mb-4">About the Model</h2>
           <p class="card-text">Welcome! This Loan Approval Predictor uses a Logistic Regression model to
           predict loan approval status ("Accepted" or "Rejected")</p>
           <p class="card-text">Achieved 93% accuracy, 86% precision, and 97% recall on test data.
               <a href="#" class="btn btn-link">View on Github</a>
           </p>
       </div>
   </div>
</section>

<section class="container my-5">
    <div class="card-shadow">
        <div class="card-body">
            <h3 class="card-title mb-4">Loan Prediction Form</h3>

            {% with messages = get_flashed_messages() %}
                {% if messages %}
                <div class="alert alert-danger">
                    <ul class="mb-0">
                        {% for message in messages %}
                        <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
            {% endwith %}

            <form method="post" class="needs-validation" novalidate>
                <div class="row g-3">
                    <!-- Left Column -->
                    <div class="col-md-6">
                        <!-- Personal Information -->
                        <div class="mb-3">
                            <label for="no_of_dependents" class="form-label">Number of Dependents</label>
                            <input type="number" name="no_of_dependents" class="form-control" min="0" maxlength="10" required value="{{ request.form['no_of_dependents'] }}">
                        </div>
                        <div class="mb-3">
                            <label for="education" class="form-label">Education</label>
                            <select class="form-select" name="education" required>
                                <option value="">Select Education Level</option>
                                <option value="Graduate" {% if request.form.get('education') == 'Graduate' %}selected{% endif %}>Graduate</option>
                                <option value="Not Graduate" {% if request.form.get('education') == 'Not Graduate' %}selected{% endif %}>Not Graduate</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="self_employed" class="form-label">Employment Status</label>
                            <select class="form-select" name="self_employed" required>
                                <option value="">Select Employment Status</option>
                                <option value="Yes" {% if request.form.get('self_employed') == 'Yes' %}selected{% endif %}>Yes</option>
                                <option value="No" {% if request.form.get('self_employed') == 'No' %}selected{% endif %}>No</option>
                            </select>
                        </div>
                    </div>

                    <!--Right Column -->
                    <div class="col-md-6">
                        <!-- Financial Information -->
                        <div class="mb-3">
                            <label for="income_annum" class="form-label">Annual Income ($)</label>
                            <input type="number" name="income_annum" class="form-control" step="1000" required value="{{ request.form['income_annum'] }}">
                        </div>
                        <div class="mb-3">
                            <label for="loan_amount" class="form-label">Loan Amount ($)</label>
                            <input type="number" name="loan_amount" class="form-control" required value="{{ request.form['loan_amount'] }}">
                        </div>
                        <div class="mb-3">
                            <div for="loan_term" class="form_label">Loan Term</div>
                            <input type="number" name="loan_term" class="form-control" min="1" maxlength="20" required value="{{ request.form['loan_term'] }}">
                        </div>
                        <div class="mb-3">
                            <label for="cibil_score" class="form-label">Credit Score</label>
                            <input type="number" name="cibil_score" class="form-control" min="300" maxlength="900" required value="{{ request.form['cibil_score'] }}">
                        </div>
                        <div class="mb-3">
                            <label for="residential_assets_value" class="form-label">Residential Assets Value</label>
                            <p>Input '0' if none. Do not leave empty</p>
                            <input type="number" name="residential_assets_value" class="form-control" required value="{{ request.form['residential_assets_value'] }}">
                        </div>
                        <div class="mb-3">
                            <label for="commercial_assets_value" class="form-label">Commercial Assets Value</label>
                            <p>Input '0' if none. Do not leave empty</p>
                            <input type="number" name="commercial_assets_value" class="form-control" required value="{{ request.form['commercial_assets_value'] }}">
                        </div>
                        <div class="mb-3">
                            <label for="luxury_assets_value" class="form-label">Luxury Assets Value</label>
                            <p>Input '0' if none. Do not leave empty</p>
                            <input type="number" name="luxury_assets_value" class="form-control" required value="{{ request.form['luxury_assets_value'] }}">
                        </div>
                        <div class="mb-3">
                            <label for="bank_asset_value" class="form-label">Bank Asset Value</label>
                            <p>Input '0' if none. Do not leave empty</p>
                            <input type="number" name="bank_asset_value" class="form-control" required value="{{ request.form['bank_asset_value'] }}">
                        </div>
                    </div>
                </div>

                <!-- Add 'is-invalid' class to invalid fields -->
                {% for field in EXPECTED_FEATURES %}
                <div class="mb-3">
                    <label for="{{ field }}" class="form-label">
                        {{ field.replace('_', ' ')|title }}
                    </label>
                    <input type="text" class="form-control {% if field in errors %}is-invalid{% endif %}"
                           id="{{ field }}" name="{{ field }}" value="{{ form_data[field] if form_data }}">
                </div>
                {% endfor %}

                <!-- Submit Button -->
                <div class="d-grid gap-2 mt-4">
                    <button type="submit" class="btn btn-primary btn-lg">Predict Approval</button>
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock %}

